        /* memediv
        
        meme_top_p
        meme_bot_p */
        body{
            background-color: rgb(204, 224, 204) ;
            width: 100%;
            height: auto;
        }
        
        #outcontainer{
            margin: auto;
            width: 95%;
            display: flex;
            flex-wrap: wrap;
        }
        .memeimg{
            width: 100%;
            display: block;
        }
        .memediv{
            position: relative;
            margin:auto;
            width: 40%;
        }
        button{
            background-color: white;

        }

/* memediv.relative {
    position: relative;
    width: 800px;
    height: 800px;
    border: 3px solid #73AD21;
  } 
  
  meme_top_p.absolute {
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    height: 100px;
    border: 1px solid #73AD21;
  }

  meme_bot_p.absolute {
    position: absolute;
    top: 700px;
    right: 0;
    width: 800px;
    height: 100px;
    border: 1px solid #73AD21;
  }
   */